{% extends 'base.html.twig' %}

{% block title %}Evaluation index{% endblock %}

{% block body %}
    <h1>Evaluation index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date d'évaluation</th> {# Renommage pour plus de clarté #}
            <th>Label</th>
            <th>Barème</th>
            <th>Date d'affichage notes</th> {# AJOUT DE LA NOUVELLE COLONNE #}
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.date ? evaluation.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ evaluation.label }}</td>
                <td>{{ evaluation.bareme }}</td>
                {# AFFICHAGE DU NOUVEAU CHAMP #}
                <td>{{ evaluation.dateAffichageNotes ? evaluation.dateAffichageNotes|date('Y-m-d') : 'Non défini' }}</td>
                <td>
                    <a href="{{ path('app_evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('app_evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td> {# Mise à jour du colspan #}
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_evaluation_new') }}">Create new</a>
{% endblock %}
